<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <style type="text/css">
        body {
            background-color: #3498db;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 16px;
            color: #ffffff;
        }

        h1 {
            margin-top: 60px;
            margin-bottom: 15px;
            color: #ffffff;
            font-size: 45px;
            font-weight: 300;
            letter-spacing: 1px;
        }

        .shortener-form div{
            margin-top: 10px;
        }

        .form-control.link-input {
            height: 46px;
            padding: 6px 11px;
            font-size: 18px;
            width: 100%;
        }

        .content-container{
            margin-top: 30px;
        }

        a{
            color: #ffffff;
        }

        .stat span{
            margin-right: 10px;
        }

    </style>
</head>
<body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><b>LINK SHORTENER</b></a>
        </div>
      </div>
    </div>

    <div class="container">
        <h1>Shorten your link.</h1>

        <form class="shortener-form form-inline row" action="{% url 'shortener:index' %}" method="post">
            {% csrf_token %}
            <div class="col-md-8">
                <input
                        class="form-control link-input col-md-8"
                        type="text"
                        name="redirection_url"
                        placeholder="https://example.com"
                        value="{% block input_value %}{% endblock %}"
                        autofocus="autofocus"
                        onFocus="this.select()"
                        oninput="document.getElementById('submit-button').disabled=false"
                />
            </div>
            <div class="col-md-4">
                <input
                        class="btn btn-default btn-lg"
                        id="submit-button"
                        type="submit"
                        value="Add link"
                        disabled
                />
            </div>
        </form>

        <p class="content-container">
            {% block content %}

            {% endblock %}
        </p>
    </div>
</body>
</html>
