{% extends "shortener/base.html" %}

{% block title %}Shortened link details{% endblock %}


{%  block input_value %}
{{ request.META.HTTP_HOST }}{% url 'shortener:redirect_to_url' link.url_key %}
{% endblock %}


{% block content %}

    <p class="stat"><span class="glyphicon glyphicon-link"></span><a href="{{ link.redirection_url }}">{{ link.redirection_url }}</a></p>
    <p class="stat"><span class="glyphicon glyphicon-download-alt"></span><span>{{ link.counter }}</span></p>
    <p class="stat"><span class="glyphicon glyphicon-user"></span><span>{{ link.submitter.username }}</span></p>

{% endblock %}

