{% extends "shortener/base.html" %}


{% block title %}Link shortener{% endblock %}<

{% block content %}
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          {{ error_message }}
        </div>
    {% endif %}
{% endblock %}